[class*="-bg"]{z-index: -1!important;}
.header-main-section-bg-two,
.header-main-section-bg-four,
.header-main-section-bg-six,
.header-main-section-bg-eight,
.header-main-section-bg-ten,
.header-main-section-bg-twelve,
.header-main-section-bg-fourteen,
.header-main-section-bg-sixteen{
  display: none;
}
.header-icon-section-bg-two{
  position: absolute;
  width: 150px;
  padding-bottom: 150px;
  bottom: 17px;
  left: -123px;
}
.header-icon-section-bg-three{
  position: absolute;
  width: 30px;
  padding-bottom: 30px;
  top: 5px;
  left: -39px;
}
.header-icon-section-bg-four{
  position: absolute;
  width: 60px;
  padding-bottom: 60px;
  top: 30px;
  right: -125px;
}
.header-icon-section-bg-four::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/14.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-icon-section-bg-five{
  position: absolute;
  width: 60px;
  padding-bottom: 60px;
  bottom: 5px;
  left: -200px;
}
.header-icon-section-bg-five::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/14.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-btn-section-bg{
  position: absolute;
  width: 250px;
  padding-bottom: 250px;
  bottom: -150px;
  right: 34%;
}
.header-btn-section-bg::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/24.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ---- PART TWO ---- */

.header-main-section-bg-one{
  position: absolute;
  width: 350px;
  padding-bottom: 350px;
  top: -100px;
  left: -200px;
}
.header-main-section-bg-one::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/1.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-two{
  position: absolute;
  width: 150px;
  padding-bottom: 150px;
  top: 30%;
  left: -4%;
}
.header-main-section-bg-two::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/2.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-three{
  position: absolute;
  width: 20px;
  padding-bottom: 20px;
  top: 50%;
  left: 5%;
}
.header-main-section-bg-three::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/3.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-four{
  position: absolute;
  width: 500px;
  padding-bottom: 500px;
  bottom: -14%;
  left: -10%;
}
.header-main-section-bg-four::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/4.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-five{
  position: absolute;
  width: 200px;
  padding-bottom: 200px;
  bottom: 5%;
  left: 8%;
}
.header-main-section-bg-five::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/5.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-six{
  position: absolute;
  width: 100px;
  padding-bottom: 100px;
  bottom: 30%;
  left: 20%;
}
.header-main-section-bg-six::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/6.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-seven{
  position: absolute;
  width: 50px;
  padding-bottom: 50px;
  top: 20%;
  left: 15%;
}
.header-main-section-bg-seven::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/7.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-eight{
  position: absolute;
  width: 100px;
  padding-bottom: 100px;
  top: 25%;
  left: 25%;
}
.header-main-section-bg-eight::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/8.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-nine{
  position: absolute;
  width: 150px;
  padding-bottom: 150px;
  top: 2%;
  right: 25%;
}
.header-main-section-bg-nine::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/15.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-ten{
  position: absolute;
  width: 50px;
  padding-bottom: 50px;
  top: -2%;
  right: 24%;
}
.header-main-section-bg-ten::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/16.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-eleven{
  position: absolute;
  width: 220px;
  padding-bottom: 220px;
  top: -7%;
  right: -4%;
}
.header-main-section-bg-twelve{
  position: absolute;
  width: 300px;
  padding-bottom: 300px;
  top: -7%;
  right: -11%;
}
.header-main-section-bg-twelve::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/18.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-thirteen{
  position: absolute;
  width: 170px;
  padding-bottom: 170px;
  top: 30%;
  right: -100px;
}
.header-main-section-bg-thirteen::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/19.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-fourteen{
  position: absolute;
  width: 150px;
  padding-bottom: 150px;
  bottom: 40%;
  right: 10%;
}
.header-main-section-bg-fourteen::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/20.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-fifteen{
  position: absolute;
  width: 500px;
  padding-bottom: 500px;
  bottom: -138px;
  right: -364px;
}
.header-main-section-bg-fifteen::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/21.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-sixteen{
  position: absolute;
  width: 60px;
  padding-bottom: 60px;
  bottom: 15%;
  right: 10%;
}
.header-main-section-bg-sixteen::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/22.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-main-section-bg-seventeen{
  position: absolute;
  width: 30px;
  padding-bottom: 30px;
  bottom: 17%;
  right: 20%;
}
.header-main-section-bg-seventeen::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/header-section/23.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.skills-section-bg{
  position: absolute;
  width: 500px;
  padding-bottom: 500px;
  bottom: -25%;
  right: -25%;
  transform: translateY(-50%);
}
.skills-section-bg::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/skills-section/section-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.skills-title-section-bg{
  position: absolute;
  width: 200px;
  padding-top: 200px;
  top: 44%;
  left: 4%;
  transform: translateY(-50%);
}
.skills-title-section-bg::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/skills-section/title-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.experience-section-bg-one{
  position: absolute;
  width: 200px;
  padding-top: 200px;
  top: 20%;
  left: -25%;
  transform: translateY(-50%);
}
.experience-section-bg-one::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/experience-section/1.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.experience-section-bg-two{
  position: absolute;
  width: 100px;
  padding-top: 100px;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
}
.experience-section-bg-two::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/experience-section/2.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.experience-section-bg-three{
  position: absolute;
  width: 150px;
  padding-top: 150px;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
}
.experience-section-bg-three::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/experience-section/3.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.experience-title-section-bg{
  position: absolute;
  width: 50%;
  padding-top: 50%;
  top: 90%;
  left: -31%;
  transform: translateY(-50%);
}
.experience-title-section-bg::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/experience-section/title-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.work-title-section-bg{
  position: absolute;
  width: 300px;
  padding-top: 300px;
  top: -13px;
  left: -150px;
  transform: translateY(-50%);
}
.work-title-section-bg::before{
  content: "";
  position: absolute;
  width: 55%;
  height: 55%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/title-bg.png);
  background-size: 55%;
  background-position: center center;
  background-repeat: no-repeat;
}
.reviews-title-section-bg{
  position: absolute;
  width: 120px;
  padding-top: 120px;
  top: -27%;
  left: 0;
  transform: translateY(-50%);
}
.reviews-title-section-bg::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/title-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.tech-icons-section-bg{
  position: absolute;
  width: 400px;
  padding-top: 400px;
  top: 0%;
  right: -5%;
  transform: translateY(-50%);
}
.tech-icons-section-bg::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url(./images/tech-bg.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px){
  .skills-section-bg{
    right: -5%;
  }
}
@media screen and (min-width: 576px){
  .header-main-section-bg-two,
  .header-main-section-bg-four,
  .header-main-section-bg-six,
  .header-main-section-bg-eight,
  .header-main-section-bg-ten,
  .header-main-section-bg-twelve,
  .header-main-section-bg-fourteen,
  .header-main-section-bg-sixteen{
    display: block;
  }
  .skills-section-bg{
    bottom: 0;
    right: -25%;
  }
}