body {
  background-image: url("./images/bg-pattern2.svg");
  background-repeat: repeat;
  font-family: 'Quicksand', sans-serif!important;
  padding: 0!important;
  margin: 0!important;
  overflow-x: hidden!important;
}
.bg-dark{background-color: #0a0a0a!important;}
